{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "",
    "Parameters": {
        "pTaggingGroup": {
            "Type": "String",
            "Description": "Tag for solution"
        }
    },
    "Resources": {},
    "Outputs": {}
}