CREATE OR REPLACE VIEW agent_event_view AS
SELECT
  "rowdate"
, "clientname"
, "awsaccountid"
, "agentarn"
, "json_extract_scalar"("currentagentsnapshot", '$.agentstatus.arn') "currentagentsnapshotagentstatusarn"
, "json_extract_scalar"("currentagentsnapshot", '$.agentstatus.name') "currentagentsnapshotagentstatusname"
, CAST("date_format"("from_iso8601_timestamp"("json_extract_scalar"("currentagentsnapshot", '$.agentstatus.starttimestamp')) AT TIME ZONE 'Europe/London', '%Y-%m-%d %H:%i:%S') as timestamp) "currentagentsnapshotagentstatusstarttimestamp"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.agenthierarchygroups') "currentagentsnapshotconfigurationagenthierarchygroups"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.firstname') "currentagentsnapshotconfigurationfirstname"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.lastname') "currentagentsnapshotconfigurationlastname"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.routingprofile.arn') "currentagentsnapshotconfigurationroutingprofilearn"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.routingprofile.defaultoutboundqueue.arn') "currentagentsnapshotconfigurationroutingprofiledefaultoutboundqueuearn"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.routingprofile.defaultoutboundqueue.name') "currentagentsnapshotconfigurationroutingprofiledefaultoutboundqueuename"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.routingprofile.name') "currentagentsnapshotconfigurationroutingprofilename"
, "json_extract_scalar"("currentagentsnapshot", '$.configuration.username') "currentagentsnapshotconfigurationusername"
, "eventid"
, CAST("date_format"("eventtimestamp" AT TIME ZONE 'Europe/London', '%Y-%m-%d %H:%i:%S') as timestamp) "eventtimestamp"
, "eventtype"
, "instancearn"
, "json_extract_scalar"("previousagentsnapshot", '$.agentstatus.arn') "previousagentsnapshotagentstatusarn"
, "json_extract_scalar"("previousagentsnapshot", '$.agentstatus.name') "previousagentsnapshotagentstatusname"
, CAST("date_format"("from_iso8601_timestamp"("json_extract_scalar"("previousagentsnapshot", '$.agentstatus.starttimestamp')) AT TIME ZONE 'Europe/London', '%Y-%m-%d %H:%i:%S') as timestamp) "previousagentsnapshotagentstatusstarttimestamp"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.agenthierarchygroups') "previousagentsnapshotconfigurationagenthierarchygroups"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.firstname') "previousagentsnapshotconfigurationfirstname"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.lastname') "previousagentsnapshotconfigurationlastname"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.routingprofile.arn') "previousagentsnapshotconfigurationroutingprofilearn"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.routingprofile.defaultoutboundqueue.arn') "previousagentsnapshotconfigurationroutingprofiledefaultoutboundqueuearn"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.routingprofile.defaultoutboundqueue.name') "previousagentsnapshotconfigurationroutingprofiledefaultoutboundqueuename"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.routingprofile.name') "previousagentsnapshotconfigurationroutingprofilename"
, "json_extract_scalar"("previousagentsnapshot", '$.configuration.username') "previousagentsnapshotconfigurationusername"
FROM
  ccm_connect_reporting_[env].agent_events
